name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout do Código
      uses: actions/checkout@v4
      with:
          fetch-depth: 0 # Necessário para o Sonar
      
    - name: Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Definir tags
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ secrets.DOCKER_USERNAME }}/modulo1
        tags: |
          type=raw,value=latest
          type=sha,format=short
      
    - name: Construir e Enviar (Push) a Imagem
      uses: docker/build-push-action@v5
      with:
        context: ./auth
        push: true 
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}

    - name: Definir tags
      id: meta2
      uses: docker/metadata-action@v5
      with:
        images: ${{ secrets.DOCKER_USERNAME }}/modulo2
        tags: |
          type=raw,value=latest
          type=sha,format=short
      
    - name: Construir e Enviar a Imagem
      uses: docker/build-push-action@v5
      with:
        context: ./router
        push: true 
        tags: ${{ steps.meta2.outputs.tags }}
        labels: ${{ steps.meta2.outputs.labels }}
